---
layout : default
title: Instituto Centenarios
body_class: home
show_home: false
js: home
nav_array:
  - name: Diario escolar
    url: #
  - name: Videos escolares
    url: videos-menu
  - name: Contactanos
    url: #
---


    <!-- Section: BANNER -->
    <section class="banner">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 logo-section">
            <img src="/assets/img/logo.png" alt="Escudo Instituto Centenarios">
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-section">
            <h1>Instituto <span> Centenarios </span></h1>
            <p>18 años transmitiendo saberes y valores</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Section: Second small banner-->
    <div class="container-fluid second-banner">
      <div class="row">
        <div class="col-lg-12">
          <p>"La felicidad no es perfecta hasta que se comparte"</p>
        </div>
      </div>
    </div>

    <!-- Section: Historia -->
    <section class="wrapper article-container white-container left-right-content">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
                <h2>Nuestra historia...</h2>
                <div class="articles-img">
                  {% include _svg/_historysvg.html %}
                </div>
                <div class="articles-text">
                  <p class="initial-text">El origen del Instituto "Centenarios" se remonta al 17 de mayo de 1937, cuando fue creada la Escuela de Aprendices Operarios
                      para satisfacer las necesidades propias de la Armada. Al principio funcionaba dentro de los Talleres Generales de la Base Naval Puerto Belgrano pero
                      en 1945 se trasladó a su actual ubicación</p>
                  <p class="hidden-text">El origen del Instituto "Centenarios" se remonta al 17 de mayo de 1937, cuando fue creada la Escuela de Aprendices Operarios
                      para satisfacer las necesidades propias de la Armada. Al principio funcionaba dentro de los Talleres Generales de la Base Naval Puerto Belgrano pero
                      en 1945 se trasladó a su actual ubicación
                      <span class="line-10px"></span>
                      En el año 1973, por la decisión del Comandante en Jefe de la Armada, se ordena el cambio de nombre por el de escuela Técnica Básica, adecuándose sus
                      planes de estudio para que cumplieran con la doble finalidad de seguir formando personal acorde con las nuevas y crecientes necesidades de la Armada
                      Argentina y, al mismo tiempo, que los estudios tuvieran equivalencia con los del Ciclo básico de las escuelas nacionales de Educación Técnica.
                      <span class="line-10px"></span>
                      La enseñanza involucraba los tres primeros años del ciclo secundario, hasta que en 1994 se implementó el Ciclo Superior, posibilitando que los alumnos
                      culminaran con la carrera técnica de seis años, con la especialidad de <b>Electromecánica y Electrónica</b>.
                      <span class="line-10px"></span>
                      Durante el año 1997 se logró incorporar a la oferta educativa el séptimo y octavo años de la Educación General Básica, comenzando de esta manera
                      el tercer ciclo con Ofertas Curriculares Complementarias.
                      <span class="line-10px"></span>
                      Los cambios producidos por la Ley Federal de Educación y la decisión de la Armada de no tener más bajo su órbita a los Institutos de Enseñanza Media,
                      debido a cuestiones presupuestarias, impulsaron a padres de alumnos y a parte del plantel docente a trabajar en pos de una solución que impidiera el
                      cierre de una escuela con gran prestigio en la familia naval y en la comunidad puntaltense.
                      <span class="line-10px"></span>
                      La <b>Cooperativa de Trabajo y Enseñanza Centenarios limitada</b>, formada el <b>6 de octubre de 1997</b>, es la encargada desde ese momento, de continuar con el
                      funcionamiento de la Institución. La Armada facilita las instalaciones y recursos utilizados por la Escuela Técnica Básica mediante un convenio y
                      la Dirección General de Cultura y Educación de la Provincia de Buenos Aires, por resolución Nº 1853/98 y 1854/98, subvenciona la planta funcional docente básica.
                  </p>
                </div>

                <a class="button articles-button">Conocenos más</a>
          </div>
        </div>
      </div>
    </section>

    <!-- Section: Escudo -->
    <section class="wrapper article-container grey-container right-left-content">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                  <h2>¿Por qué el escudo?</h2>
                  <img class="articles-img" src="/assets/img/logo.png" alt="escudo-centenarios">
                  <p class="articles-text">El escudo tiene la forma de un rectángulo de tipo español
                  redondeado cuyos extremos inferior y superior lo bordea
                  una cinta o bando sobre las cuales está escrito instituto
                  "Centenarios". Una línea horizontal divide al cuadro en dos
                  cuarteles iguales. La parte superior es de color plata que simboliza
                  la pureza, fe, obediencia. Tambien representa la caridad,
                  la humildad y la templanza.</p>
                  <a class="button articles-button">Leer más</a>
            </div>
          </div>
        </div>
    </section>

    <!-- Section: Valores Cooperativos -->
    <section class="wrapper article-container white-container left-right-content">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
                <h2>Nuestros valores</h2>
                <div class="articles-img">
                  {% include _svg/_cooperativasvg.html %}
                </div>
                <p class="articles-text">Los principios cooperativos son normas generales por medio de
                las cuales las cooperativas ponen en práctica sus valores de <b>autoayuda,
                democracia, igualdad, autorresponsabilidad, equidad y solidaridad</b>,
                sosteniendo sus miembros los valores éticos de <b>honestidad, apertura,
                responsabilidad social y preocupación</b> por lo demás</p>
                <a class="button articles-button">Valores</a>
          </div>
        </div>
      </div>
    </section>

    <!-- Section: Autoridades -->
    <section class="wrapper grey-container autoridades-container">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
                <h2>Nuestras autoridades</h2>
                <hr id="autoridades-hr">
                <ul>
                    <li class="autoridades-unit">
                        <img src="/assets/img\autoridades\Ferri.png" alt="María del Carmen Ferri" class="autoridades-img">
                        <div class="autoridades-descripcion">
                            <h3>María del Carmen Ferri</h3>
                            <p>Directora EST</p>
                    </li>
                    <li class="autoridades-unit">
                        <img src="/assets/img/autoridades/Myriam.png" alt="Myriam Acosta" class="autoridades-img">
                        <div class="autoridades-descripcion">
                            <h3>Myriam Acosta</h3>
                            <p>Vicedirectora EST</p>
                    </li>
                    <li class="autoridades-unit">
                        <img src="/assets/img/autoridades/Vacca.png" alt="Esteban Vacca" class="autoridades-img">
                        <div class="autoridades-descripcion">
                            <h3>Esteban Vacca</h3>
                            <p>Jefe de área</p>
                    </li>
                    <li class="autoridades-unit">
                        <img src="/assets/img/autoridades/Stella.png" alt="Estela Maris Castillo" class="autoridades-img">
                        <div class="autoridades-descripcion">
                            <h3>Estela Maris Castillo</h3>
                            <p>Directora EPB</p>
                    </li>
                    <li class="autoridades-unit">
                        <img src="/assets/img/autoridades/Fran.png" alt="Carolina Costa" class="autoridades-img">
                        <div class="autoridades-descripcion">
                            <h3>Carolina Costa</h3>
                            <p>Secretaria</p>
                    </li>
                </ul>
          </div>
        </div>
      </div>
    </section>
