---
layout : default
title: Instituto Centenarios
body_class: home
not_show_home: true
js: home
---


    <!-- Section: BANNER -->
    <section class="banner">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 logo-section">
            <img src="{{site.baseurl}}/assets/img/logo.png" alt="Escudo Instituto Centenarios">
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-section">
            <h1>Instituto <span> Centenarios </span></h1>
            <p>18 años transmitiendo saberes y valores</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Section: Second small banner-->
    <div class="container-fluid second-banner">
      <div class="row">
        <div class="col-lg-12">
          <p>"La felicidad no es perfecta hasta que se comparte"</p>
        </div>
      </div>
    </div>

    <!-- Section: Historia -->
    <section class="wrapper article-container white-container left-right-content">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
                <h2>Nuestra historia...</h2>
                <div class="articles-img">
                  {% include _svg/_historysvg.html %}
                </div>
                <div class="articles-text">
                  <p class="initial-text">El Instituto "Centenarios" no es un establecimiento reciente, sino que su creación se remonta al dia 17 de mayo del año 1937, cuando fue
                      inaugurada, bajo el brazo de la Armada la Escuela de Aprendices Operarios que funcionaba en lso talleres Generales de la Base Naval, hasta que en el año 1945 se
                      trasladó a su actual ubicación.</p>
                  <p class="hidden-text">El Instituto "Centenarios" no es un establecimiento reciente, sino que su creación se remonta al dia 17 de mayo del año 1937, cuando fue
                      inaugurada, bajo el brazo de la Armada la Escuela de Aprendices Operarios que funcionaba en lso talleres Generales de la Base Naval, hasta que en el año 1945 se
                      trasladó a su actual ubicación.
                      <span class="line-10px"></span>
                      Hacia el año 1973 se cambió su nombre por el de Escueal Técnica Básica (E.T.B.), que continuó con el objetivo original de formar personale para la Armada, pero con
                      un plan de estudios equivalente al del ciclo Básico de otrasEscuelas de Educación Tpecnica. El mismo involucraba los 3 primero años que confomraban el ciclo Secundario
                      , hasta que en el año 1994 se emplementó el ciclo superior, que brindaba la posibilidad de finalizar una carrera técnica en dos especialdades que se mantiene en la actualidad
                      : Electromecánica y Electrónica. Louego se implementó Econimía y Gestión
                      <span class="line-10px"></span>
                      La oferta curricular ofrecia por la E.T.B. se amplió con el ingreso de los años séptimos y octavo correspodientes al tercer cilclo de la Escucaiocn General Báscia
                      <span class="line-10px"></span>
                      Y así llegamos hasta el (re)nombramiento de establecimeitno que luege de 61 años de continnuidad por su execelnte trayectoria como E.T.B. pasó a llamarse, el primer de marzo de 1998,
                      INSTITUTO CENTENARIOS. Poco tiempo después , el 12 de marzo del mismo año, se firmó un convenio que sigue en vigencia hasta el día de hoy entre la Cooperativa de Trabajo y Enseñanza Centenaiors
                      Limitada, entidad jurídica propietaria del Instituto Centenarios, y la Armada. Con este cambio, el aporte de la Armada se limitpo a facilitar las intalaciones y recuros para que
                      el Instituto pudiera continuear con la tarea educativa que planteó desde un principipo: la de brindar a sus alumos la fomración académica y tecnologica necesaria para la continuacion en estudios
                      superiores o, la insercion directa ene l mercado laboral
                  </p>
                </div>

                <a class="button articles-button">Conocenos más</a>
          </div>
        </div>
      </div>
    </section>

    <!-- Section: Escudo -->
    <section class="wrapper article-container grey-container right-left-content">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                  <h2>¿Por qué el escudo?</h2>
                  <img class="articles-img" src="{{site.baseurl}}/assets/img/logo.png" alt="escudo-centenarios">
                  <p class="articles-text">El escudo tiene la forma de un rectángulo de tipo español
                  redondeado cuyos extremos inferior y superior lo bordea
                  una cinta o bando sobre las cuales está escrito instituto
                  "Centenarios". Una línea horizontal divide al cuadro en dos
                  cuarteles iguales. La parte superior es de color plata que simboliza
                  la pureza, fe, obediencia. Tambien representa la caridad,
                  la humildad y la templanza.</p>
                  <a class="button articles-button">Leer más</a>
            </div>
          </div>
        </div>
    </section>

    <!-- Section: Valores Cooperativos -->
    <section class="wrapper article-container white-container left-right-content">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
                <h2>Nuestros valores</h2>
                <div class="articles-img">
                  {% include _svg/_cooperativasvg.html %}
                </div>
                <p class="articles-text">Los principios cooperativos son normas generales por medio de
                las cuales las cooperativas ponen en práctica sus valores de <b>autoayuda,
                democracia, igualdad, autorresponsabilidad, equidad y solidaridad</b>,
                sosteniendo sus miembros los valores éticos de <b>honestidad, apertura,
                responsabilidad social y preocupación</b> por lo demás</p>
                <a class="button articles-button">Valores</a>
          </div>
        </div>
      </div>
    </section>

    <!-- Section: Autoridades -->
    <section class="wrapper grey-container autoridades-container">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
                <h2>Nuestras autoridades</h2>
                <hr id="autoridades-hr">
                <ul>
                    <li class="autoridades-unit">
                        <img src="{{site.baseurl}}/assets/img\autoridades\Ferri.png" alt="María del Carmen Ferri" class="autoridades-img">
                        <div class="autoridades-descripcion">
                            <h3>María del Carmen Ferri</h3>
                            <p>Directora EST</p>
                    </li>
                    <li class="autoridades-unit">
                        <img src="{{site.baseurl}}/assets/img/autoridades/Myriam.png" alt="Myriam Acosta" class="autoridades-img">
                        <div class="autoridades-descripcion">
                            <h3>Myriam Acosta</h3>
                            <p>Vicedirectora EST</p>
                    </li>
                    <li class="autoridades-unit">
                        <img src="{{site.baseurl}}/assets/img/autoridades/Vacca.png" alt="Esteban Vacca" class="autoridades-img">
                        <div class="autoridades-descripcion">
                            <h3>Esteban Vacca</h3>
                            <p>Jefe de área</p>
                    </li>
                    <li class="autoridades-unit">
                        <img src="{{site.baseurl}}/assets/img/autoridades/Modesti.png" alt="Norma Haydeé Modesti" class="autoridades-img">
                        <div class="autoridades-descripcion">
                            <h3>Norma Haydeé Modesti</h3>
                            <p>Representante legal</p>
                    </li>
                    <li class="autoridades-unit">
                        <img src="{{site.baseurl}}/assets/img/autoridades/Stella.png" alt="Estela Maris Castillo" class="autoridades-img">
                        <div class="autoridades-descripcion">
                            <h3>Estela Maris Castillo</h3>
                            <p>Directora EPB</p>
                    </li>
                    <li class="autoridades-unit">
                        <img src="{{site.baseurl}}/assets/img/autoridades/Fran.png" alt="Carolina Costa" class="autoridades-img">
                        <div class="autoridades-descripcion">
                            <h3>Carolina Costa</h3>
                            <p>Secretaria</p>
                    </li>
                </ul>
          </div>
        </div>
      </div>
    </section>
