---
layout : default
title: Instituto Centenarios
body_class: home
not_show_home: true
js: home
---


    <!-- Section: BANNER -->
    <section class="banner">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 logo-section">
            <img src="{{site.baseurl}}/assets/img/logo.png" alt="Escudo Instituto Centenarios">
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-section">
            <h1>Instituto <span> Centenarios </span></h1>
            <p>18 años transmitiendo saberes y valores</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Section: Second small banner-->
    <div class="container-fluid second-banner">
      <div class="row">
        <div class="col-lg-12">
          <p>"La felicidad no es perfecta hasta que se comparte"</p>
        </div>
      </div>
    </div>
    {% if site.latest-news %}
    <!-- Section: Ultimas noticias -->
    <section class="wrapper latest-news">
      <div class="container">
        <div class="row">
          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 news-arrow-container user-non-selectable">
            <div class="arrow-box">
              {% include _svg/_left-arrowsvg.html %}
            </div>
          </div>
          <div class="col-lg-8 col-lg-offset-1 col-md-8 col-md-offset-1 col-sm-8 col-sm-offset-1 col-xs-12">
            <div class="global-news-container">
              <div class="news-container">
                {% for new in site.latest-news %}
                <div class="new-wrap">
                  <h2 class="news-title">{{new.title}}</h2>
                  <div class="news-article">{{new.content}}</div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="col-lg-1 col-lg-offset-1 col-md-1 col-md-offset-1 col-sm-1 col-sm-offset-1 col-xs-offset-1 col-xs-1 user-non-selectable news-arrow-container">
            <div class="arrow-box">
              {% include _svg/_right-arrowsvg.html %}
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 user-non-selectable">
            <div class="news-dots">
              {% for new in site.latest-news %}
              <figure class="dot"></figure>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </section>
    {% endif %}
    <!-- Section: BELT -->
    <div class="articles-container">
      <section class="articles-belt">
        <div class="articles-menu">
          <!-- Section: Historia -->
          <section class="wrapper article-container white-container left-right-content">
            <div class="container">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <h2>Nuestra historia...</h2>
                  <div class="articles-img-container">
                    <div class="articles-img">
                      {% include _svg/_historysvg.html %}
                    </div>
                  </div>
                  <p class="articles-text">El origen del Instituto “Centenarios” se remonta al 17 de mayo de 1937, cuando fue creada la
                    Escuela de Aprendices Operarios para satisfacer las necesidades propias de la Armada. Al principio funcionaba dentro
                    de los Talleres Generales de la Base Naval Puerto Belgrano, pero en 1945 se trasladó a su actual ubicación.
                  </p>
                  <a class="button articles-button" category="historia">Conocenos más</a>
                </div>
              </div>
            </div>
          </section>

          <!-- Section: Escudo -->
          <section class="wrapper article-container grey-container right-left-content">
            <div class="container">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <h2>¿Por qué el escudo?</h2>
                  <div class="articles-img-container">
                    <img class="articles-img" src="{{site.baseurl}}/assets/img/logo.png" alt="escudo-centenarios">
                  </div>
                  <p class="articles-text">El escudo tiene la forma de un rectángulo de tipo español
                    redondeado cuyos extremos inferior y superior lo bordea
                    una cinta o bando sobre las cuales está escrito instituto
                    "Centenarios". Una línea horizontal divide al cuadro en dos
                    cuarteles iguales. La parte superior es de color plata que simboliza
                    la pureza, fe, obediencia. Tambien representa la caridad,
                    la humildad y la templanza.</p>
                    <a class="button articles-button"category="escudo">Leer más</a>
                </div>
              </div>
            </div>
          </section>

          <!-- Section: Valores Cooperativos -->
          <section class="wrapper article-container white-container left-right-content">
            <div class="container">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <h2>Nuestros valores</h2>
                  <div class="articles-img-container">
                    <div class="articles-img">
                      {% include _svg/_cooperativasvg.html %}
                    </div>
                  </div>
                  <p class="articles-text">Los principios cooperativos son normas generales por medio de
                    las cuales las cooperativas ponen en práctica sus valores de <b>autoayuda,
                      democracia, igualdad, autorresponsabilidad, equidad y solidaridad</b>,
                      sosteniendo sus miembros los valores éticos de <b>honestidad, apertura,
                        responsabilidad social y preocupación</b> por lo demás</p>
                  <a class="button articles-button"category="valores">Valores</a>
                </div>
              </div>
            </div>
          </section>
        </div>
        <div class="articles-expanded">
          <div class="container-fluid">
            <div class="container">
              <div class="row articles-expanded-row expanded-historia">
                <div class="col-lg-12">
                  <a class="return-button">{% include _svg/_home-back-arrowsvg.html %}</a>
                  <h2>Nuestra historia...</h2>
                  <div class="category-svg">{% include _svg/_historysvg.html %}</div>
                  <p>{% include _home-articles-expanded/_historia.md %}</p>
                  <a class="return-button down">{% include _svg/_home-back-arrowsvg.html %}</a>
                </div>
              </div>
              <div class="row articles-expanded-row expanded-escudo">
                <div class="col-lg-12">
                  <a class="return-button">{% include _svg/_home-back-arrowsvg.html %}</a>
                  <h2>¿Por qué el escudo?</h2>
                  <img class="category-svg" src="{{site.baseurl}}/assets/img/logo.png" alt="escudo">
                  <p>{% include _home-articles-expanded/_escudo.md %}</p>
                  <a class="return-button down">{% include _svg/_home-back-arrowsvg.html %}</a>
                </div>
              </div>
              <div class="row articles-expanded-row expanded-valores">
                <div class="col-lg-12">
                  <a class="return-button">{% include _svg/_home-back-arrowsvg.html %}</a>
                  <h2>Nuestros valores</h2>
                  <div class="category-svg">{% include _svg/_cooperativasvg.html %}</div>
                  <p>{% include _home-articles-expanded/_valores.md %}</p>
                  <a class="return-button down">{% include _svg/_home-back-arrowsvg.html %}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <!-- Section: Autoridades -->
    <section class="wrapper grey-container autoridades-container">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
                <h2>Nuestras autoridades</h2>
                <hr id="autoridades-hr">
                <ul>
                    <li class="autoridades-unit">
                        <div style="background-image: url({{site.baseurl}}/assets/img/autoridades/Ferri.png)" class="autoridades-img"></div>
                        <div class="autoridades-descripcion">
                            <h3>María del Carmen Ferri</h3>
                            <p>Directora EST</p>
                    </li>
                    <li class="autoridades-unit">
                        <div style="background-image: url({{site.baseurl}}/assets/img/autoridades/Myriam.png)" class="autoridades-img"></div>
                        <div class="autoridades-descripcion">
                            <h3>Myriam Acosta</h3>
                            <p>Vicedirectora EST</p>
                    </li>
                    <li class="autoridades-unit">
                        <div style="background-image: url({{site.baseurl}}/assets/img/autoridades/Vacca.png)" class="autoridades-img"></div>
                        <div class="autoridades-descripcion">
                            <h3>Esteban Vacca</h3>
                            <p>Jefe de área</p>
                    </li>
                    <li class="autoridades-unit">
                        <div style="background-image: url({{site.baseurl}}/assets/img/autoridades/Modesti.png)" class="autoridades-img"></div>
                        <div class="autoridades-descripcion">
                            <h3>Norma Haydeé Modesti</h3>
                            <p>Representante legal</p>
                    </li>
                    <li class="autoridades-unit">
                        <div style="background-image: url({{site.baseurl}}/assets/img/autoridades/Stella.png)" class="autoridades-img"></div>
                        <div class="autoridades-descripcion">
                            <h3>Estela Maris Castillo</h3>
                            <p>Directora EPB</p>
                    </li>
                    <li class="autoridades-unit">
                        <div style="background-image: url({{site.baseurl}}/assets/img/autoridades/Fran.png)" class="autoridades-img"></div>
                        <div class="autoridades-descripcion">
                            <h3>Carolina Costa</h3>
                            <p>Secretaria</p>
                    </li>
                </ul>
          </div>
        </div>
      </div>
    </section>
