<!-- Section: HEADER -->
    <header>

      <div class="container" id="header-container">
        <div class="row">
          <div class="col-lg-12">
            <a href="{{site.baseurl}}/index.html" class="logo">
              <img src="{{site.baseurl}}/assets/img/logo.png" alt="Escudo">
              <h2>Instituto<br>Centenarios</h2>
            </a>
            <nav>
              {% case page.nav_active %}
              {% when "videos" %}
              <a class="nav-sections" href="{{site.baseurl}}/daily">Diario escolar</a>
              <a class="nav-sections focus" href="{{site.baseurl}}/videos-menu">Videos escolares</a>
              <a class="nav-sections" href="{{site.baseurl}}/contact-us">Contactanos</a>
              <!-- <a class="nav-sections" href="{{site.baseurl}}/inscripciones">Inscripciones 2021</a> -->
              {% when "daily" %}
              <a class="nav-sections focus" href="{{site.baseurl}}/daily">Diario escolar</a>
              <a class="nav-sections" href="{{site.baseurl}}/videos-menu">Videos escolares</a>
              <a class="nav-sections" href="{{site.baseurl}}/contact-us">Contactanos</a>
              <!-- <a class="nav-sections" href="{{site.baseurl}}/inscripciones">Inscripciones 2021</a> -->
              {% when "contact" %}
              <a class="nav-sections" href="{{site.baseurl}}/daily">Diario escolar</a>
              <a class="nav-sections" href="{{site.baseurl}}/videos-menu">Videos escolares</a>
              <a class="nav-sections focus" href="{{site.baseurl}}/contact-us">Contactanos</a>
              <!-- <a class="nav-sections" href="{{site.baseurl}}/inscripciones">Inscripciones 2021</a> -->
              {% when "inscripciones" %}
              <a class="nav-sections" href="{{site.baseurl}}/daily">Diario escolar</a>
              <a class="nav-sections" href="{{site.baseurl}}/videos-menu">Videos escolares</a>
              <a class="nav-sections" href="{{site.baseurl}}/contact-us">Contactanos</a>
              <!-- <a class="nav-sections focus" href="{{site.baseurl}}/inscripciones">Inscripciones 2021</a> -->
              {% else %}
                {% if layout.nav_active == "daily" %}
                <a class="nav-sections focus" href="{{site.baseurl}}/daily">Diario escolar</a>
                <a class="nav-sections" href="{{site.baseurl}}/videos-menu">Videos escolares</a>
                <a class="nav-sections" href="{{site.baseurl}}/contact-us">Contactanos</a>
                <!-- <a class="nav-sections" href="{{site.baseurl}}/inscripciones">Inscripciones 2021</a> -->
                {% else %}
                <a class="nav-sections" href="{{site.baseurl}}/daily">Diario escolar</a>
                <a class="nav-sections" href="{{site.baseurl}}/videos-menu">Videos escolares</a>
                <a class="nav-sections" href="{{site.baseurl}}/contact-us">Contactanos</a>
                <!-- <a class="nav-sections" href="{{site.baseurl}}/inscripciones">Inscripciones 2021</a> -->
                {% endif %}
              {% endcase %}
              {% if page.not_show_home != true %}
              <div>
                <a href="{{site.baseurl}}/index.html" class="nav-home-icon">{% include _svg/_homesvg.html %}</a>
              </div>
              {% endif %}
              <a class="burguer-nav">{% include _svg/_burguersvg.html %}</a>
            </nav>
          </div>
        </div>
      </div>
    </header>
