.posts
  background-color: $light-grey
  .row
    background-color: white
.daily-unit
  height: 250px
  padding-left: 15px
  position: relative
  .daily-article
    display: inline-block
    width: 70%
    min-height: 100%
    background-color: white
    p.fecha
      color: $quote-grey
      font-size: 11px
      font-weight: 300
      margin: 10px 0px 0px
    h2
      margin: 0px
      padding: 10px 0px 10px
      position: relative
      border-bottom: 1px solid $mainC
      font-size: 26px
      font-family: "Raleway"
    p

      margin: 15px 0px 25px
      font-weight: 300
    a
      position: absolute
      bottom: 15px
      left: 15px
  .daily-image
    display: inline-block
    float: right
    position: relative
    height: 100%
    overflow: hidden
    width: 30%
    background-repeat: no-repeat
    background-size: cover
    background-position: bottom
    &:after
      content: ''
      position: absolute
      bottom: 0
      left: 0
      border-bottom: 250px solid white
      border-right: 273px solid transparent

@media screen and (max-width: 1200px)
  .daily-unit
    height: 280px
    .daily-image
      &::after
        border-bottom: 280px solid white
        border-right: 223px solid transparent
      img.post-image
        right: 100px
      div.hidden-triangle
        border-width: 300px 0 0 165px

@media screen and (max-width: 991px)
  .daily-unit
    height: auto
    padding: 0px 0px 25px
    text-align: center
    .daily-image
      float: none
      height: 150px
      width: 100%
      background-position: top
      background-position: 0px -15px
      &::after
        border-bottom: 0
        border-right: 0
    .daily-article
      max-width: 90%
      text-align: center
      a
        display: block
        position: static
        margin: auto
