section.sorteo
    min-height: calc(100vh - 95px)    
    .wrapper
        padding-top: 20px
        border-bottom-left-radius: 20px
        border-bottom-right-radius: 20px
        &.container
            overflow: hidden
        .title-row
            text-align: center
            margin-bottom: 40px
            h1
                border-bottom: 2px solid $mainC
                padding-bottom: 10px
                max-width: 60%
                text-align: center
                margin-left: auto
                margin-right: auto
            @media screen and ( max-width: 600px )
                h1
                    max-width: 100%
        
    .content
        padding: 0 48px

        .row
            display: flex
            align-items: center

            a
                margin-left: auto
                display: inline-block

        hr
            width: 75%
            opacity: 0.2
            margin: 24px auto

        @media screen and (max-width: 780px)
            .row
                flex-direction: column

                a
                    margin: 0 auto