---
layout: default
title: Contactanos | Instituto Centenarios
body_class: contact-us
js: contact
maps: true
nav_active: contact
permalink: /contact-us/
---

<!-- Section: CONTACT-US -->
<section class="contact-us">
  <div class="container box-shadow-container">
    <div class="row title">
      <div class="col-lg-12">
        <h1>Contactanos</h1>
      </div>
    </div>
    <div class="row info">
      <div class="col-lg-12">
        <div class="info-block">
          <div class="info-title">
            {% include _svg/_clocksvg.html %}
            <h3>Horario de atención</h3>
          </div>
          <div class="sub-info">
            <p>De lun. a vie. : de 09:00hs a 12:00hs</p>
          </div>
        </div>
        <div class="info-block">
          <div class="info-title">
            {% include _svg/_emailsvg.html %}
            <h3>E-mail</h3>
          </div>
          <div class="sub-info">
            <p>instituto_centenarios@yahoo.com.ar</p>
          </div>
          <a href="mailto:instituto_centenarios@yahoo.com.ar" class="action-block user-non-selectable email">
            <p>Enviar e-mail</p>
          </a>
        </div>
        <div class="info-block">
          <div class="info-title">
            {% include _svg/_phonesvg.html %}
            <h3>Teléfono</h3>
          </div>
          <div class="sub-info">
            <p>(02932) 486969</p>
            <p>(02932) 486968</p>
          </div>
          <a href="tel:2932486969" class="action-block user-non-selectable tel">
            <p>Llamar</p>
          </a>
        </div>
        <div class="info-block">
          <div class="info-title">
            {% include _svg/_placeholder.html %}
            <h3>Dirección</h3>
          </div>
          <div class="sub-info">
            <p>BNPB Alcaldía S/N</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Section: MAP -->
    <section class="row map">
      <div id="map"></div>
    </section>
  </div>
</section>
