---
layout: default
title: Diario escolar | Instituto Centenarios
body_class: daily
show_home: true
js: daily
nav_array:
  - name: Videos escolares
    url: videos-menu
  - name: Contactanos
    url: #
permalink: /daily/
---

<!-- Section: BANNER -->
<section class="banner-section">
  <div class="container">
    <div class="row banner">
      <div class="col-lg-12">
        <div class="banner-title">
          <h1>Diario escolar</h1>
          <p>Instituto Centenarios</p>
        </div>
        <div class="banner-years-container">
          <div class="arrow-svg-container">
            {% include _svg/_left-arrowsvg.html %}
          </div>

          <div class="years-limit-container">
            <a href="" class="daily-year not-visible">1998</a>
            <a href="" class="daily-year not-visible">1998</a>
            {% for post in site.posts %}
            {% assign postyear = post.date | date: '%Y' %}
              {% if forloop.first == true %}
                {% assign actualyear = postyear %}
                <a href="" class="daily-year">{{actualyear}}</a>
              {% elsif postyear == actualyear %}
                {% continue %}
              {% else %}
                {% assign actualyear = postyear %}
                <a href="" class="daily-year">{{actualyear}}</a>
              {% endif %}
            {% endfor %}
            <a href="" class="daily-year">{{actualyear}}</a>
            <a href="" class="daily-year">2007</a>
            <a href="" class="daily-year">2008</a>
            <a href="" class="daily-year">2009</a>
            <a href="" class="daily-year">2010</a>
            <a href="" class="daily-year">2011</a>
            <a href="" class="daily-year">2012</a>
            <a href="" class="daily-year show-on-large">2013</a>
            <a href="" class="daily-year show">2014</a>
            <a href="" class="daily-year show selected-year">2015</a>
            <a href="" class="daily-year not-visible show">1998</a>
            <a href="" class="daily-year not-visible show-on-large">1998</a>
          </div>

          <div class="arrow-svg-container">
            {% include _svg/_right-arrowsvg.html %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Section: POSTS -->
<section class="posts">
  <div class="container box-shadow-container">
    <div class="row">
      <div class="col-lg-10 col-md-10 col-sm-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
        {% for post in site.posts %}
        {% assign postyear = post.date | date: '%Y' %}
          {% if forloop.first == true %}
            {% assign actualyear = postyear %}
          {% elsif postyear == actualyear %}
            {% continue %}
          {% else %}
            {% assign actualyear = postyear %}
          {% endif %}
          <div class="post-list {{ actualyear }}">
            {% for postunit in site.posts reversed %}
            {% assign postunityear = postunit.date | date: '%Y' %}
              {% if postunityear == actualyear %}
              <figure class="daily-unit box-shadow-container">
                <div class="daily-image" style="background-image: url({{ site.baseurl }}/assets/img/daily-page/posts-images/{{ postunit.date | date: '%Y' }}/cover-images/{{ postunit.coverimage }}.jpg)">
                </div>
                <article class="daily-article">
                  <p class="fecha">{{ postunit.date | date: "%B %-d, %Y" }}</p>
                  <h2>{{ postunit.title }}</h2>
                  <p>{{ postunit.summary }}</p>
                  {% if site.baseurl.size != 0 %}
                  <a class="button" href="/{{site.baseurl}}/{{ postunit.url }}">Leer</a>
                  {% else %}
                  <a class="button" href="{{ postunit.url }}">Leer</a>
                  {% endif %}
                </article>
              </figure>
              {% endif %}
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
