---
layout: default
title: Diario escolar | Instituto Centenarios
body_class: daily
show_home: true
js: daily
nav_array:
  - name: Videos escolares
    url: videos-menu
  - name: Contactanos
    url: contact-us
permalink: /daily/
---

<!-- Section: BANNER -->
<section class="banner-section">
  <div class="container">
    <div class="row banner">
      <div class="col-lg-12">
        <div class="banner-title">
          <h1>Diario escolar</h1>
          <p>Instituto Centenarios</p>
        </div>
        <div class="banner-years-container">
          <div class="arrow-svg-container">
            {% include _svg/_left-arrowsvg.html %}
          </div>

          <div class="years-limit-container">
            <a href="" class="daily-year not-visible">1998</a>
            <a href="" class="daily-year not-visible">1998</a>
            <!--{% assign myArray = "1" %}
            {% assign myArray = myArray | append: ",2" %}
            {% assign myArray = myArray | split:"," %}
            {{myArray[0]}}-->
            {% for post in site.posts reversed %}
            {% assign postyear = post.date | date: '%Y' %}
              {% if forloop.first == true %}
                {% assign actualyear = postyear %}
                {% assign yearsArray = actualyear %}
              {% elsif forloop.last == true %}
                {% if postyear != actualyear %}
                  {% assign yearsArray = yearsArray | append: "," | append: postyear %}
                {% endif %}
                {% assign yearsArray = yearsArray | split: "," %}
              {% elsif postyear == actualyear %}
                {% continue %}
              {% else %}
                {% assign actualyear = postyear %}
                {% assign yearsArray = yearsArray | append: "," | append: actualyear %}
              {% endif %}
            {% endfor %}
            {% for year in yearsArray %}
              {% if forloop.rindex == 2 %}
                <a href="" class="daily-year show">{{year}}</a>
              {% elsif forloop.rindex == 3 %}
                <a href="" class="daily-year show-on-large">{{year}}</a>
              {% elsif forloop.last == true %}
                <a href="" class="daily-year show selected-year">{{year}}</a>
              {% else %}
                <a href="" class="daily-year">{{year}}</a>
              {% endif %}
            {% endfor %}
            <a href="" class="daily-year not-visible show">1998</a>
            <a href="" class="daily-year not-visible show-on-large">1998</a>
          </div>

          <div class="arrow-svg-container">
            {% include _svg/_right-arrowsvg.html %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Section: POSTS -->
<section class="posts">
  <div class="container box-shadow-container">
    <div class="row">
      <div class="col-lg-10 col-md-10 col-sm-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
        {% for post in site.posts %}
        {% assign postyear = post.date | date: '%Y' %}
          {% if forloop.first == true %}
            {% assign actualyear = postyear %}
          {% elsif postyear == actualyear %}
            {% continue %}
          {% else %}
            {% assign actualyear = postyear %}
          {% endif %}
          <div class="post-list {{ actualyear }}">
            {% for postunit in site.posts reversed %}
            {% assign postunityear = postunit.date | date: '%Y' %}
              {% if postunityear == actualyear %}
              <figure class="daily-unit box-shadow-container">
                <div class="daily-image" style="background-image: url({{ site.baseurl }}/assets/img/daily-page/posts-images/{{ postunit.date | date: '%Y' }}/cover-images/{{ postunit.coverimage }}.jpg)">
                </div>
                <article class="daily-article">
                  <p class="fecha">
                    {% assign m = postunit.date | date: "%-m" | minus: 1 %}
                    {% assign spM = site.months[m] %}

                    {{ postunit.date | date: "%-d" }} de {{spM}}{{ postunit.date | date: ", %Y" }}
                  </p>
                  <h2>{{ postunit.title }}</h2>
                  <p>{{ postunit.summary }}</p>
                  {% if site.baseurl.size != 0 %}
                  <a class="button" href="{{ postunit.url | absolute_url }}">Leer</a>
                  {% else %}
                  <a class="button" href="{{ postunit.url }}">Leer</a>
                  {% endif %}
                </article>
              </figure>
              {% endif %}
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
