---
layout: default
title: Videos | Instituto Centenarios
body_class: videos-menu
js:
nav_active: videos
permalink: /videos-menu/
---

<!-- Section : CATEGORIAS -->
    <section class="grey-container">
      <div class="wrapper container white-container box-shadow-container">
        <div class="row title-row">
          <div class="col-lg-12">
            <h1>Videos escolares</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 box-shadow-container-minimal category-div">
            <h2>Cortometrajes</h2>
            {% include _svg/_video-camerasvg.html %}
            <p>Videos cinematográficos de duración menor a 30 minutos. Basados en textos que se trabajan en clase, los alumnos deben resumir y mostrar los hechos principales de cada texto.</p>
            <a href="{{site.baseurl}}/videos/?v=cort" class="button">Ver todos</a>
          </div>
          <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 box-shadow-container-minimal category-div">
            <h2>Videopoemas</h2>
            {% include _svg/_open-booksvg.html %}
            <p>El videopoema es un excelente recurso para recuperar los contenidos desde lo vivencial, ya que la imagen permite el impacto directo en la sensibilidad del espectador, y "pone de pie" la metáfora y el simbolismo.</p>
            <a href="{{site.baseurl}}/videos/?v=vpoe" class="button">Ver todos</a>
          </div>
          <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 box-shadow-container-minimal category-div">
            <h2>Cortometrajes patrióticos</h2>
            {% include _svg/_flagsvg.html %}
            <p>Videos de corta duración realizados por alumnos, con el objetivo de informar y conmemorar nuestras fechas patrias.</p>
            <a href="{{site.baseurl}}/videos/?v=cpat" class="button">Ver todos</a>
          </div>
          <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 box-shadow-container-minimal category-div">
            <h2>Cortometrajes expositivos-explicativos</h2>
            {% include _svg/_talksvg.html %}
            <p>La función primordial de estos videos, es la de transmitir información, pero no se limita simplemente a proporcionar datos sino que además agrega explicaciones, describe con ejemplos y analogías.</p>
            <a href="{{site.baseurl}}/videos/?v=cexp" class="button">Ver todos</a>
          </div>
          <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 box-shadow-container-minimal category-div">
            <h2>Videos del noticiero</h2>
            {% include _svg/_reportersvg.html %}
            <p>El noticiero de la escuela informa sobre los acontecimientos mas importantes a lo largo de cada ciclo lectivo. Con entrevistas a profesores y alumnos.</p>
            <a href="{{site.baseurl}}/videos/?v=vnot" class="button">Ver todos</a>
          </div>
        </div>
      </div>


    </section>
