---
layout: default
title: Diario escolar | Instituto Centenarios
body_class: post
show_home: true
js: lightbox.min
nav_active: daily
---
<section class="post">
  <div class="container white-container box-shadow-container">
    <!-- Hide rectangle for back-button-->
    <div class="hide-rectangle"></div>
    <div class="absolute-container">
      <div class="back-button">
        <a href="{{site.baseurl}}/daily"> {% include _svg/_back-buttonsvg.html %} </a>
      </div>
    </div>
    <div class="row back-row">
      <div class="col-lg-12">
        <a href="{{site.baseurl}}/daily">
          {% include _svg/_back-arrowsvg.html %}
          <h3>Diario escolar</h3>
        </a>
      </div>
    </div>
    <div class="row article-row">
      <div class="col-lg-12">
        <p class="fecha">
          {% assign m = page.date | date: "%-m" | minus: 1 %}
          {% assign spM = site.months[m] %}

          {{ page.date | date: "%-d" }} de {{spM}}{{ page.date | date: ", %Y" }}
        </p>
        <h1>{{ page.title }}</h1>
        <article class="post-article">
          <p>{{content}}</p>
        </article>
        {% if page.images %}
        <hr>
        <div class="post-images">
          {% for image in page.images %}
          <a href="{{ site.baseurl }}/assets/img/daily-page/posts-images/{{ page.date | date: '%Y' }}/{{ image }}.jpg" data-lightbox="postsimg">
            <img class="post-article-image" src="{{ site.baseurl }}/assets/img/daily-page/posts-images/{{ page.date | date: '%Y' }}/{{ image }}.jpg" alt="{{ post.alt }}">
          </a>
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
