section.grey-container
  min-height: 1000px
.wrapper
  padding: 15px 0px 60px
  border-bottom-left-radius: 20px
  border-bottom-right-radius: 20px
  min-height: 500px
.back-row
  text-align: left
  padding-left: 0px
  h3
    display: inline-block
    margin: 0px 0px 0px 10px
    vertical-align: top
    line-height: 41px
  h3:before
    content: " "
    display: inline-block
    vertical-align: top
    height: 44px
    width: 1px
    margin-right: 10px
    background-color: $mainC

  svg
    display: inline-block
    width: 40px
    path
      fill: $mainC

.categories-row
  text-align: center
  margin-top: 30px
  svg
    width: 80px
    height: auto
    pointer-events: none
  .category-icon-container
    display: inline-block
    text-align: center
    margin: 0px 50px
    &.show::after
      display: block
  .category-icon-container:after
    content: " "
    display: none
    position: relative
    top: 100%
    margin: 20px 0px 0px -40px
    left: 50%
    border-left: 40px solid transparent
    border-right: 40px solid transparent
    border-bottom: 30px solid $light-grey
    width: 0px
    height: 0px
  .svg-container:hover
    svg
      path, circle
        fill: $mainC

.videos-row
  text-align: left
  > div
    //Both are just to overwrite Bootstrap style
    padding: 0px 0px 0px
    min-height: 0px
  .category-container
    display: none
    &.show
      display: block
      margin: 40px 0px 0px
  h2
    text-align: center
  hr
    width: 30%
    border: 1px solid $mainC
  ul
    list-style-type: none
    padding: 0px
    li.year-container
      margin: 10px 0px
      p.year
        display: inline-block
        margin: 10px 25px
        vertical-align: top
        cursor: pointer
        &.drop::before
          border-right: 5px solid transparent
          border-left: 5px solid transparent
          border-top: 5px solid $mainC
      p.year:before
        content: " "
        display: inline-block
        position: relative
        width: 0
        height: 0
        border-bottom: 5px solid transparent
        border-top: 5px solid transparent
        border-left: 5px solid $mainC
        vertical-align: initial
        margin-right: 10px
      .video-container
        display: none
        text-align: center
        &.show
          display: block


@media screen and (max-width: 991px)
  .categories-row
    .category-icon-container
      margin: 0px 40px

@media screen and (max-width: 767px)
  .back-row
    h3, h3:before
      display: none
  .categories-row
    svg
      width: 60px
    .category-icon-container
      margin: 0px 30px
    .category-icon-container:after
      border-left: 30px solid transparent
      border-right: 30px solid transparent
      border-bottom: 22.5px solid $light-grey
      margin: 20px 0px 0px -30px
  .videos-row
    > div
      margin-left: 2%
      width: 96%

@media screen and (max-width: 540px)
  .categories-row
    svg
      width: 50px
    .category-icon-container
      margin: 0px 10px
    .category-icon-container:after
      border-left: 25px solid transparent
      border-right: 25px solid transparent
      border-bottom: 18.75px solid $light-grey
      margin: 20px 0px 0px -25px
